@import url("https://fonts.googleapis.com/css2?family=Advent+Pro&family=Balsamiq+Sans:wght@700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap');
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

html,
body {
  display: grid;
  height: 100%;
  place-items: center;
  background: rgb(31, 31, 31);
  padding: 0rem;
  color: white;
}


.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-top: 2rem;
  gap: 15rem;
  font-size: 1.1rem;
}

.logo {
  width: 150px;
  max-width: 20%;
  transition: all 0.3s ease;
  cursor: pointer;
}

.logo:hover {
  width: 152.5px;
}

.navbar .menu {
  padding-bottom: 0px;
  text-decoration: none;
  border: none;
  background-color: none;
  justify-content: space-around;
}

.img-linkedin {
  margin-left: 20px;
  width: 30px;
  transition: all 0.3s linear;
  cursor: pointer;
  border-radius: 0px;
}

.img-linkedin:hover {
  content: url("../img/linkedin-roxo.png");
  width: 31px;
}

.img-github {
  margin-left: 20px;
  width: 30px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.img-github:hover {
  content: url("../img/github-roxo.png");
  width: 31px;
}
/* From uiverse.io by @TimTrayler */
.switch {
  padding: 10px 15px;
  border: unset;
  border-radius: 15px;
  color: #8e44ad;
  z-index: 1;
  background: #e8e8e8;
  position: relative;
  font-weight: 1000;
  font-size: 17px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms;
  overflow: hidden;
  cursor: pointer;
  margin-left: 15px;
 }
 
 .switch::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #8e44ad;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px white;
  box-shadow: 4px 8px 19px -3px white;
  transition: all 250ms
 }
 
 .switch:hover {
  color: #e8e8e8;
 }
 
 .switch:hover::before {
  width: 100%;
 }

.btn {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.1em;
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}

.btn:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #8e44ad;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.btn:hover:after {
  width: 100%;
  left: 0;
}

#main-content {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex: 1;
  margin-bottom:10rem;
  font-size: 1.8rem;
  gap: 10rem;
}

.banner-direita {
  flex: 1;
  display: flex;
  justify-content: end;
  width: 20px;
  max-width: 40%;
}

.hello {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;  
}

.avatar-pc {
  display: flex;
  flex: 1;
  justify-content: end;
  width: 50%;
  max-width: 100%;
}



.container-sobre {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-left: 15rem;
  padding-right: 15rem;
  margin-bottom: 5rem;
  font-size: 1.5rem;
}

.minha-foto{
  display:flex;
  justify-content: center;
  width: 500px;
  max-width: 500px;
}

.sobre-mim {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;  
  border-bottom: 1px solid #8e44ad;
  margin: 2rem;
  font-size: 2rem;
}

.btn-alt:hover {
  background: #8e44ad;
}
::selection {
  background: #8e44ad;
  color: #fff;
}

#main {
  margin-top: 10rem;
}

.container {
  max-width: 1100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
}

.conhecimentos {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  padding-left: 5rem;
  padding-right: 5rem;
  margin-bottom: 5rem;
  font-size: 1.2rem;
}

.title-conhecimento {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;    
  font-size: 34px;
  border-bottom: 1px solid #8e44ad;
  margin: 1rem;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  gap: 3rem;
}

.container .box {
  width: calc(33% - 0px);
  background: rgb(40, 40, 40);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 20px 20px;
  border-radius: 5px; 
  border: 2px solid #8e44ad;
}

.container .description {
  color: #fff;
}

.box .quote i {
  margin-top: 10px;
  font-size: 1.5rem;
  color: #17c0eb;
}

.container .box .image {
  margin: 10px 0;
  height: 150px;
  width: 150px;
  background: #8e44ad;
  padding: 3px;
  border-radius: 50%;
}

.box .image img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 2px solid #fff;
}

.box p {
  margin-top: 8px;
  font-size: 1rem;
  font-weight: 400;
}

.box .name_job {
  margin: 10px 0 3px 0;
  color: #fff;
  font-size: 1.3rem;
  font-weight: 600;
}

@media (max-width: 1045px) {
  .container .box {
    width: calc(50% - 10px);
    margin-bottom: 20px;
  }
}

@media (max-width: 710px) {
  .container .box {
    width: 100%;
  }
}

.rodape {
  border-top: 1px solid #8e44ad;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 10px;
  gap: 20px;
  margin-bottom: 2.5rem;
}

.linkedin-footer {
  width: 20px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.github-footer {
  width: 20px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.btn-alt {
  font-family: 'Montserrat', sans-serif;  
  font-size: 1.3rem;
  margin-top: 20px;
  margin-bottom: 5rem;
  cursor: pointer;
  background: none;
  margin-right: 5px;
  width: 15%;
  padding: 9px 0px;
  border: 2px solid #8e44ad;
  border-radius: 5px;
  color: #fff;
  transition: all 0.3s linear;
  text-decoration: none;
}











/* From uiverse.io by @SharpTH */
.btn-cssbuttons {
  --btn-color: #8e44ad;
  position: relative;
  padding: 16px 32px;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  color: white;
  background: none;
  border: none;
  outline: none;
  overflow: hidden;
  cursor: pointer;
  filter: drop-shadow(0 2px 8px rgba(39, 94, 254, 0.32));
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  margin-top: 20px;
  margin-left: 80px;
 }
 
 .btn-cssbuttons::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: var(--btn-color);
  border-radius: 24px;
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
 }
 
 .btn-cssbuttons span,
 .btn-cssbuttons span span {
  display: inline-flex;
  vertical-align: middle;
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
 }
 
 .btn-cssbuttons span {
  transition-delay: 0.05s;
 }
 
 .btn-cssbuttons span:first-child {
  padding-right: 7px;
 }
 
 .btn-cssbuttons span span {
  margin-left: 8px;
  transition-delay: 0.1s;
 }
 
 .btn-cssbuttons ul {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  transform: translateY(-50%);
 }
 
 .btn-cssbuttons ul li {
  flex: 1;
 }
 
 .btn-cssbuttons ul li a {
  display: inline-flex;
  vertical-align: middle;
  transform: translateY(55px);
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
 }
 
 .btn-cssbuttons ul li a:hover {
  opacity: 0.5;
 }
 
 .btn-cssbuttons:hover::before {
  transform: scale(1.2);
 }
 
 .btn-cssbuttons:hover span,
 .btn-cssbuttons:hover span span {
  transform: translateY(-55px);
 }
 
 .btn-cssbuttons:hover ul li a {
  transform: translateY(0);
 }
 
 .btn-cssbuttons:hover ul li:nth-child(1) a {
  transition-delay: 0.15s;
 }
 
 .btn-cssbuttons:hover ul li:nth-child(2) a {
  transition-delay: 0.2s;
 }
 
 .btn-cssbuttons:hover ul li:nth-child(3) a {
  transition-delay: 0.25s;
 }